<h2>Find by Country</h2>
<hr />

<div class="row">
  <div class="col">
    <app-country-input
      (onEnter)="search($event)"
      (onDebounce)="suggestions($event)"
      placeholder="Search Country..."
    >
    </app-country-input>
  </div>
</div>

<ul 
 *ngIf="showSuggestions"
class="list-group">
  <li
    *ngFor="let countries of suggestedCountries"
    class="list-group-item list-group-item-action"
  >
    <a class="nav-link" [routerLink]="['/country', countries.cca2]">
      {{ countries.name.common }}
    </a>
   
  </li>

  <li class="list-group-item list-group-item-action"
   (click)="searchSuggestion(term)"
  >
    <a>
      Buscar "{{term}}"
    </a>
  
  </li>
</ul>

<hr />

<div class="alert alert-danger" *ngIf="Error">Not Found in the {{ term }}</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"> </app-country-table>
  </div>
</div>
